.row
  .span12
    .page-header
      %h1 Environment
      %a(href="#" onclick="$(this).next().toggle()") Add New Environment

      #add_account.hide
        = form_tag("/admin/add_account", :method => :post, :class => :well, :autocomplete => false) do |f|
          %label Environment Name
          %input(type="text" name="name")

          %input(type="submit")

- @accounts.each do |account|
  .row
    .span12.well
      - account_data = @data[account]
      %h2 
        = account_data["name"]
        %small
          %a(href="/reports/#{account}") View Reports

      %table.table
        %thead
          %tr
            %th Client
            %th Api Key
            %th Secret
            %th Remove?
        - @apikeys[account].each do |apikey|
          - apikey_data = JSON.parse $redis.get "apikeys:" + apikey
          %tr
            %td= apikey_data[1]
            %td= apikey
            %td= apikey_data[2]
            %td
              %a(href="/admin/remove_client/#{apikey}")
                %i.icon-remove

      %a(href="#" onclick="$(this).next().toggle()") Add New Client

      .hide
        = form_tag("/admin/add_client", :method => :post, :class => "form-horizontal", :autocomplete => false) do |f|
          %input(type="hidden" name="account" value="#{account}")

          %input(type="text" name="client" placeholder="Client Name")

          %input(type="submit")

      %hr

