- content_for(:title, "Pirate Dashboard - #{Time.now}")

:css
  body { background: black; color: white; }
  .container { width: auto }
  div { line-height: normal }
  table { width: 90%; text-align: center; margin: 20px auto }
  .env { color: #bef }
  td { padding: 35px 15px; vertical-align:top;}
  tr.header td { font-size: 24px; font-weight: bold; color: white } 
  td { text-align: center; font-size: 76px }
  tr.header td { padding: 0 0 10px 0 }
  tr.acquisition { color:#ffff44; }
  tr.activation { color:#88eeff; }
  tr.retention { color:#ee88ff; }
  tr.referral { color:#ff8888; }
  tr.revenue { color:#88ff88; }
  span {padding: 0; margin:0px 5px}
  .title, .big_num { text-align: center; margin: 0px }
  .sub_title, .small_num {font-size: 26px; text-align: center }
  .up { color: green }
  .down { color: red }
  tr.first td { border-top: 1px solid white }
  td.chart_cell { padding: 0 }
  .tooltip { color: black }
  .chart { width: 400px; height: 175px; font-size: 26px }
  .legend { float: left; width:20%; padding-right: 1em; overflow: hidden }
  .marking.label { position: absolute; bottom: 2em; color: #c66; font-size: 80% }
  .ticklabel { font-size: 16px; color: #333; position: absolute; margin-right: 50px }

  @media all and (max-width: 1440px) {
    tr.header td { font-size: 14px }
    td { font-size: 48px }
    .sub_title, .small_num { font-size: 14px }
    .chart { font-size: 18px; width: 250px; height: 125px }
  }

%table{:cellspacing => "0"}
  %colgroup
    %col
    %col
    %col
  %tbody
    %tr.header
      %td 
        Environment:
        %span.env= @account_data["name"]
      %td # in last 168 hrs
      %td % change in last 24 hrs
      %td Trend

    %tr.acquisition
      %td.category
        .title Acquisition
        .sub_title First time on app/site
      %td
        .big_num= format_number @acquisition[:total]
        .small_num
          - @clients.each do |client|
            %span #{format_client client}: #{format_number @acquisition[:by_client][client]}
      %td(class="#{@acquisition[:delta].to_f < 0 ? 'down' : 'up'}")
        = format_percent @acquisition[:delta]
      %td.chart_cell
        .chart
        :javascript
          $(function() { 
            Vanity.retention_graph('.acquisition .chart').plot(#{@acquisition[:chart]}); 
          })
          
    %tr.activation
      %td.category
        .title Activation
        .sub_title
          Users who activated
          %br
          (signed up, age > 1 week, made 3 tasks, completed 1)
      %td
        .big_num= format_number @activation[:total]
      %td(class="#{@activation[:delta].to_f < 0 ? 'down' : 'up'}")
        = format_percent @activation[:delta]
      %td.chart_cell
        .chart
        :javascript
          $(function() { 
            Vanity.retention_graph('.activation .chart').plot(#{@activation[:chart]}); 
          })
          
    %tr.retention
      %td.category
        .title Retention
        .sub_title Active & activated users
      %td
        .big_num= format_number @retention[:total]
      %td(class="#{@retention[:delta].to_f < 0 ? 'down' : 'up'}")
        = format_percent @retention[:delta]
      %td.chart_cell
        .chart
        :javascript
          $(function() { 
            Vanity.retention_graph('.retention .chart').plot(#{@retention[:chart]}); 
          })

    %tr.referral
      %td.category
        .title Referral
        .sub_title # NM shared to
      %td
        .big_num= format_number @referral[:total]
        .small_num
          - @clients.each do |client|
            %span #{format_client client}: #{format_number @referral[:by_client][client]}
      %td(class="#{@referral[:delta].to_f < 0 ? 'down' : 'up'}")
        = format_percent @referral[:delta]
      %td.chart_cell
        .chart
        :javascript
          $(function() { 
            Vanity.retention_graph('.referral .chart').plot(#{@referral[:chart]}); 
          })

    %tr.revenue
      %td.category
        .title Revenue
        .sub_title # of Premium Subscribers
      %td
        .big_num= format_number @revenue[:total]
      %td(class="#{@revenue[:delta].to_f < 0 ? 'down' : 'up'}")
        = format_percent @revenue[:delta]
      %td.chart_cell
        .chart
        :javascript
          $(function() { 
            Vanity.retention_graph('.revenue .chart').plot(#{@revenue[:chart]}); 
          })
