- content_for(:title, "Retention Dashboard - #{Time.now}")

:css
  body { color: white; background: black; text-align: center; font-family: "Eurostile", "Futura", "Courier New", monospace }
  .env { color: #bef }
  .main .title { font-size: 220px;  line-height: 260px }
  .main .subtitle { font-size: 30px; line-height: 40px }
  .minor { padding: 10px 5px }
  .minor .title { font-size: 48px; line-height: 74px; }
  .minor .subtitle { font-size: 22px; }
  .yesterday { color: #ccc }
  .oneweekago { color: #aaa }
  .fourweeksago { color: #888 }
  #retention_chart { width: 510px; height: 320px; margin: 15px 30px; }
  .tooltip { color: black }
  .marking.label { position: absolute; bottom: 2em; color: #c66; font-size: 80% }
  .ticklabel { font-size: 16px; color: #333; position: absolute; margin-right: 50px }

.row
  .span12.main
    .title
      = format_number @retention[:total]
    .subtitle
      \# of activated users on
      %span.env= @account_data["name"]
      in the past 168 hours

.row
  .span7.offset1
    #retention_chart
    :javascript
      $(function() { 
        Vanity.retention_graph('#retention_chart').plot(#{@retention[:chart]}); 
      })

  .span3
    .minor.yesterday
      .title
        = format_number @retention[:yesterday]
      .subtitle
        Yesterday

    .minor.oneweekago
      .title
        = format_number @retention[:last_week]
      .subtitle
        One week ago

    .minor.fourweeksago
      .title
        = format_number @retention[:four_weeks]
      .subtitle
        Four weeks ago
