:css
  thead tr { background-color: #333; color: white }
  .variant { background-color: #ccc; color: black }
  .empty { text-align: center; padding: 50px }

:javascript
  $(document).on("click", "[data-edit=description]", function() {
    var parent = $(this).parents(".row");
    var desc = prompt("Enter Description for this Test:")
    if(desc) {
      $(".description", parent).text(desc)
      $.post("/admin/edit_test",
        { test: parent.data("test"), account: '#{@account}', description: desc });
    }
  });

  $(document).on("click", "[data-edit=archive]", function() {
    var parent = $(this).parents(".row");
    var archive = confirm("Archive this test?")
    if(archive) {
      $(parent).fadeOut();
      $.post("/admin/edit_test",
        { test: parent.data("test"), account: '#{@account}', archive: true });
    }
  });

  $(document).on("click", "[data-edit=unarchive]", function() {
    var parent = $(this).parents(".row");
    $.post("/admin/edit_test", 
      { test: parent.data("test"), account: '#{@account}', unarchive: true },
      function() { window.location.reload(); })      
  });

.row
  .span12
    .page-header
      %h1 
        Tests for #{@account_data["name"]}
        %small
          %a(href="/admin") Back to environments

- if @tests.empty?
  .row
    .span12.empty
      No Tests!

- @tests.each do |test|
  - test_data = @test_data[test]
  .row(data-test="#{test}")
    .span12.well

      .pull-right
        %a(href="#" title="Edit Description" data-edit="description")
          %i.icon-pencil
        %a(href="#" title="Archive This Test" data-edit="archive")
          %i.icon-trash

      %h2
        = test
        %small.description= test_data[:description]

      %table.table
        %thead
          %tr
            %th(colspan=2) Launched: #{test_data[:dates].first}
            %th(colspan="#{test_data[:days].length}") Days since first experience

        - test_data[:variants].each do |variant|
          - variant_data = @variant_data[test][variant]
          %tr.variant
            %td(colspan=2) 
              Variant: 
              %strong= variant
            - test_data[:days].each do |day|
              %td +#{day}

          - [["New Users", :new], ["Existing Activated", :old]].each do |user_state|
            %tr
              %td(rowspan=3)= user_state.first
              %td Total opened x days ago
              - test_data[:days].each do |day|
                %td= variant_data[user_state.last][day][:total]
            %tr
              %td Opened x days after first open
              - test_data[:days].each do |day|
                %td= variant_data[user_state.last][day][:opened]
            %tr
              %td % Retained
              - test_data[:days].each do |day|
                %td
                  - if variant_data[user_state.last][day][:total] == 0
                    \-
                  - else
                    = number_to_percentage variant_data[user_state.last][day][:retained]

        - result_data = @variant_data[test][:summary]
        %tr.variant
          %td(colspan=2) Results
          - test_data[:days].each do |day|
            %td +#{day}

        - [["New Users", :new], ["Existing Activated", :old]].each do |user_state|
          %tr
            %td(rowspan=1)= user_state.first
            %td 
              %strong Delta retention (% points)
            - test_data[:days].each do |day|
              %td= number_to_percentage result_data[user_state.last][day][:delta]

      %hr

- unless @archived.empty?
  .row
    .span12
      .page-header
        %h3 Archived Tests

  - @archived.each do |test|
    - test_data = @test_data[test]
    .row(data-test="#{test}")
      .span12.well

        %h2
          %a(href="#" title="Unarchive This Test" data-edit="unarchive")= test

